*
!*/

.vscode/
build/

!.gitignore
!.gitkeep
!CMakeLists.txt
!README.md
!README*.md
!LICENSE

!/.github/**/*
!/deps/**/*
!/docs/**/*
!/cmake/**/*.cmake
!/include/**/*.h
!/src/**/*.h
!/src/**/*.c
!/src/**/*.cpp
!/test/**/*
